<h1><%= t "user_mailer.password_reset.title" %> <%= @user.name %></h1>
<p><%= t("user_mailer.password_reset.body") %></p>
<%= link_to t("user_mailer.password_reset.link"),
  edit_password_reset_url(@user.password_reset_token, email: @user.email) %>

