<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="pull-left">
        <ul>
          <li><a href="/"><%= t "app.home" %></a></li>
          <li><a href="/"><%= t "app.about" %></a></li>
          <li><a href="/"><%= t "app.contact" %></a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="" class="btn btn-round btn-just-icon" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="" class="btn btn-round btn-just-icon" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="btn btn-round btn-just-icon" target="_blank">
          <i class="fa fa-google-plus-square"></i>
        </a>
        <a href="" class="btn btn-round btn-just-icon" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="btn btn-round btn-just-icon" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="" class="btn btn-round btn-just-icon" target="_blank">
          <i class="fa fa-pinterest"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
