<div class="container-fluid">
  <div class="row">
    <div class="card card-raised card-carousel">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @home.slides.each_with_index do |slide, index| %>
            <div class="item <%= 'active' if index == 0 %>" >
              <%= image_tag slide.image.url %>
              <div class="carousel-caption">
                <h4><%= slide.title %></h4>
              </div>
            </div>
            <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <i class="material-icons">keyboard_arrow_left</i>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <i class="material-icons">keyboard_arrow_right</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
