<% if @messages.present? %>
<div class="alert alert-danger alert-message">
  <div class="container-fluid">
  <div class="alert-icon">
    <i class="material-icons">error_outline</i>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"><i class="material-icons">clear</i></span>
  </button>
    <p><b><%= t "alert_error_title" %></b></p>
    <% error_messages(@messages) do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
</div>
<script>
    setTimeout("$('.alert').fadeOut('slow')", 2000)
</script>
<% end %>
