<div class="row">
  <div class="card-group">
    <h2><%= t "app.new_product" %></h2>
    <div class="row">
      <%= render @home.recent_products %>
    </div>
  </div>
  <div class="card-group">
    <h2><%= t "app.top_product" %></h2>
    <div class="row">
      <%= render @home.rated_products %>
    </div>
  </div>
</div>

<div class="row">
    <div class="form-group">
      <label class="label-control">Datetime Picker</label>
      <input type="text" class="form-control datetimepicker" value="10/05/2016"/>
    </div>
    <div class="form-group">
      <label class="label-control">Datetime Picker</label>
      <input type="text" class="form-control datetimepicker" value="10/05/2016"/>
    </div>
  </div>
