# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 23cce22a7d4d0a228837d587040b6b8c456aac44f39b737af30f9f8bedc2aeb678e49faabb6b79c1eed8b6bf1809a1f9c1b168e1aa47114f6e90206980b52b5a

test:
  secret_key_base: 5dc205db925038c7fe7cbbcc3d9a4bcca237975a7a1a9b6da3e523d8d6aeb2ecf535bb70ed3ab1a5805536ce520a869740b48da8bd28b402c7bb303fab89f714

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
