<div id="cart-modal">
  <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <%= render "carts/content" %>
    </div>
  </div>
</div>
