<div class="col-md-9">
  <div id="cart-modal" class="cart-detail">
    <div id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <%= render "carts/content" %>
      </div>
    </div>
  </div>
</div>
  <!-- /.col-md-9 -->
<div class="col-md-3">
  <div id="summary">
    <%= render "orders/summary" %>
  </div>
</div>
