$white: #FFFFFF;
$black: #000000;
$gray: #dce0e0;
$primary: #9c27b0;
$warning: #fbc02d;
$info: #03a9f4;
$default: #999999;
$font-color-light: #dce0e0;
$font-color-dark: #555555;
$box-shadow-default: 0 1px 10px rgba(0, 0, 0, 0.5);
$box-shadow-light: 0 1px 5px rgba(0, 0, 0, 0.2);

a {
  i {
    margin-right: 5px;
  }
}

table {
  tbody {
    td.td-actions {
      display: block !important;
    }
    
    tr {
      td {
        button.btn {
          a {
            color: unset;
          }
        }
      }
      .description {
        max-width: 250px;
      }
    }
  }
}

.card img.img-responsive {
  width: 50px;
  height: 50px;
}

.btn-action{
  .btn-add{
    float: right;
    margin-right: 15px;
  }
}


select {
  color: $default !important;
}

.table .td-actions {
  display: block;
}

.btn {
  .fa {
    padding-right: 5px;
  }
}

.card {
  .card-content {
    padding: 20px 30px;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
}

canvas {
  box-sizing: border-box !important;
  width: 100%;
  background: $white;
  padding: 20px;
  box-shadow: $box-shadow-light;
  border-radius: 5px;
}

.card-stats {
  .card-content {
    height: 110px;
  }
}

.footer {
  max-height: 300px;
}

.chart {
  margin-bottom: 20px;
  h4 {
    font-weight: 400;
    color: $default;
  }
}
/*
*====================@@product========================
*/
.product-thumbnail {
  img {
    width: 100%;
  }

  .box {
    background-color: $white;
    box-shadow: $box-shadow-light;
    padding: 20px;
    h2 {
      margin: 0px;
    }

    .product-description {
      height: 80px;
      padding: 20px 10px;
      overflow: hidden;
      margin-bottom: 30px;
      color: $font-color-dark;
    }

    .product-price {
      margin-top: 30px;
      font-size: 30px;
      font-weight: 400;
      color: $warning;
    }

    .product-rating {
      padding: 10px 20px;
    }

    .buttons {
      .btn {
        .fa-shopping-cart {
          padding-right: 5px;
        }
        .fa-chevron-right {
          padding-left: 5px;
        }
      }
    }
  }

}

.details {
  blockquote {
    margin: 30px 0px;;
    font-size: 16px;
    color: $font-color-dark;
    border-left: $info 5px solid;
  }
}

/*
*====================@@slide=======================
*/
#update-slide-status {
  display: none;
}

.slide-action {
  .btn {
    padding: 10px 15px;
    max-height: 50px;
  }
}

.slide-table-form {
  padding: 0px;
  .slide-title {
    max-width: 200px;
    overflow: hidden;
  }

}

.product-thumbnail {
  .buttons {
    margin-top: 30px;
  }
}

.card img{
  width: 100%;
  height: auto;
}


.product-rating {
  padding: 10px 20px;
  overflow: hidden;
  .form-rating {
    display: inline;
    button {
      background: unset;
      border: none;
      display: inline !important;
      box-shadow: unset;
      padding: 5px;
    }

    botton:focus {
      background: $info;
      i {
        color: $white;
      }
    }
    
    .rated {
      color: $white;
      i {
        color: $primary;
      }
    }
    
    .unrated {
      i {
        color: $default;
      }
    }
  }
}

/*
*========================@@pagination==========================
*/
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border: none;
  .gap {
    display: none;
  }
  .first{
    display: none;
  }

  .page, .prev, .next, .current {
    margin: 0px 5px;
    a {
      border: none;
      color: $default;
      font-weight: 400;
    }
  }

  .current {
    border: none !important;
    background: $info !important;
    color: $white;
    padding: 0px 15px !important;
    box-shadow: 0 4px 5px 0 rgba(3, 169, 244, 0.14),
      0 1px 10px 0 rgba(3, 169, 244, 0.12),
      0 2px 4px -1px rgba(3, 169, 244, 0.2);
    border-radius: 30px;
  }

  .last{
    display: none;
  }
}
.time-selection {
  margin-bottom: 100px;
  .form-group {
    margin-top: 15px;
    input {
      padding-left: 20px;
      width: 80%;
    }
    label {
      padding-top: 5px;
    }
  }
  
}
#fomr-import{
  display: none
}
.filter{
  width: 25%;
  float: right;
  .form-group{
    margin: 15px 20px 0 0;
  }
}
