<div class="row">
  <div class="col-md-3">
    <%= render "filter_form" %>
  </div>
  <div id="category-content" class="col-md-9">
    <%= render "content" %>
  </div>
</div>
<div id="pagination">
  <%= render "pagination" %>
</div>
