<footer class="footer">
   <div class="container-fluid">
      <nav class="pull-left">
         <ul>
            <li><%= link_to t("admin.menu.home"), root_path %></li>
            <li><%= link_to t("admin.menu.product"), root_path %></li>
         </ul>
      </nav>
      <p class="copyright pull-right">
         &copy;
         <%= t "admin.title" %>
      </p>
   </div>
</footer>
